body {
    font-family: 'Poppins', sans-serif;
    background-color: #f8f9fa;
    margin: 0;
    padding: 0;
}

.dashboard-title {
    position: relative;
    top: -50px;
    font-family: 'Poppins', sans-serif; 
    font-size: 2.5rem; 
    color: #1e1e1e; 
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2);
}


.sidebar {
    width: 250px;
    height: 100vh;
    position: fixed;
    background-color:#1e1e1e;
    color: #e1e1e1;
    top: 0;
    left: 0;
    padding-top: 20px;
}

.sidebar .nav-link {
    color: #e1e1e1;
    padding: 10px;
    font-size: 18px;
    transition: background-color 0.3s ease, padding 0.3s ease;
}

.sidebar .nav-link:hover {
    background-color: #2a2a2a;
    color: #ffffff;
}

.sidebar .nav-link.active {
    background-color: #25d366;
}

.main-content {
    margin-left: 250px;
    padding: 20px;
}

.card {
    border-radius: 10px;
    background-color: #ffffff;
    padding: 15px;
}

.card i {
    font-size: 50px;
}

.card h5 {
    font-size: 18px;
    color: #333;
}

.card p {
    font-size: 22px;
    font-weight: bold;
}

.dropdown-menu {
    min-width: auto;
    position: auto;
}

select.form-select {
    width: 150px;
    position: auto;
}

.bg-light {
    background-color: #e9ecef;
}

.shadow {
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}
.sidebar .nav-link {
    color: white;
    font-size: 18px;
    padding: 12px;
    transition: background-color 0.3s;
}

.sidebar .nav-link:hover {
    background-color: #3a3f58;
    color: #ffffff;
}

.user-profile p {
    font-weight: bold;
    margin-top: 10px;
    font-size: 16px;
    color: #e1e1e1;
}

.progress-bar {
    background-color: #4CAF50;
}

.profile-img {
    width: 50px;        
    height: 50px;       
    border-radius: 50%;
    border: 2px solid #075e54;
    position: auto;
}

h3 {
    font-family: 'Inter', sans-serif;
    font-weight: 600; 
}

.img-fluid {
    object-fit: contain;
    height: auto;
}

@media (max-width: 768px) {
    .content {
        margin-left: 0;
    }
    .dashboard-title {
        top: 0px;
        font-size: 1.8rem; 
    }
}

@media (max-width: 1024px) {
    .content {
        margin-left: 0;
    }
    .dashboard-title {
        top: 0px; 
        font-size: 2.2rem; 
    }
}